
*{
	   -webkit-user-select:none;
	   -moz-user-select:none;
	   -ms-user-select:none;
	   	user-select:none
}

.dsp_wrap{
	height: 100%;
	overflow-y: initial !important;
	background: #dce2ed;
}
.dsp_wrap .dsp_title div{
	background: #4D4C5A;
	line-height: 30px;
	text-align: center;
}
/*.dsp_wrap .dsp_title div:nth-child(even){
	background: #0F0F0F;
}*/
.scar{
	z-index: 9;
	height: 30px;
	margin: 2px 0;
}
.dsp_info{
	text-align: center;
	/*background: #B2DBA1;*/
	width: 100%;
	color: #000;
	position: relative;
}


.dsp_info ul{
	width: 100%;
	margin: 0;
	height: 40px !important;
	line-height: 40px;
	background: #eee;
}


.dsp_info  div{
	position: absolute;
	width:500px;
	height:100px;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-250px;
	text-align: center;
	font-size:50px;
	color:#999
}



.dsp_info ul:nth-child(odd){
	background: #fafafa !important;
}




.dsp_info ul li{
	line-height: 40px;
	
}
.dsp_info ul li .btn{
	line-height: 10px !important;
	margin-left: 5px;
}
.dsp_pyxq{
	color: #000000;
}
.dsp_pyxq li{
	line-height: 30px;
	text-indent: 15px;
}
.dsp_pyxq li span{
	display: inline-block;
	width: 70%;
}
.dsp_pyxq li:nth-child(4) span{
	margin-left: 30px;
}

.a_anniu{
	position: absolute;
	right: 50px;
	bottom: 20px;
}
.a_anniu button{
	width: 80px;
	height: 30px;
	color: #000000;
}
