
.newsCon{
	width:98%;
	height:98%;
	overflow-y: hidden;
}

.newsCon>form{
	width:55%;
	height:40px;
}



.newsCon .FINDEX{
	width:100%;
	height:45px;
	margin-top:0.2%;
}

.newsCon>.FINDEX>li{
	width:100%;
	background:#4d4c5a;
	color:#dce2ed;
	height: 45px;
	line-height:45px;
	list-style:none
}

.newsCon>.FINDEX>li> span{
	height:45px;
	line-height: 45px;
	display: inline-block;
	float:left;
	border-left:1px solid #ccc;
	box-sizing: border-box;
	text-align: center;
	
}


.newsCon>.FINDEX>li>span:nth-child(1){
	width:10%;
}
.newsCon>.FINDEX>li>span:nth-child(2){
	width:19.6%;
}
.newsCon>.FINDEX>li>span:nth-child(3){
	width:19.8%;
}
.newsCon>.FINDEX>li>span:nth-child(4){
	width:18.6%;
}
.newsCon>.FINDEX>li>span:nth-child(5){
	width:21%;
}


.newsCon>.FINDEX>li>span:nth-child(6){
	width:10%;
}


.newsCon ul{
	width:100%;
	height:82%;
	overflow-y: scroll;
}

.newsCon>ul>li{
	width:100%;
	height:35px;
	cursor: pointer;
}


.newsCon>ul>li:nth-child(odd){
	background:#eee;
}
.newsCon>ul>li:nth-child(even){
	background:#fafafa;
}




.newsCon>ul>li>span{
	display: inline-block;
	float:left;
	border-left:1px solid #ccc;
	box-sizing: border-box;
	height:35px;
	line-height: 35px;
	text-align: center;
}

.newsCon>ul>li>span:nth-child(1){
	width:10%;
}
.newsCon>ul>li>span:nth-child(2){
	width:20%;
}
.newsCon>ul>li>span:nth-child(3){
	width:20%;
}
.newsCon>ul>li>span:nth-child(4){
	width:18.9%;
}
.newsCon>ul>li>span:nth-child(5){
	width:21.1%;
}

.newsCon>ul>li>span:nth-child(6){
	width:10%;
}