.pushRizhi{
	width:100%;
	height:550px;
	background: #07162d;
	margin-top:10px;
	overflow: hidden;
	color:#dce2ed;
	position: relative;
}
.pushRizhi>ul{
	width:150px;
	height:120px;
	position: absolute;
	top:50%;
	margin-top:-60px;
}
.pushRizhi>ul>h2{
	height:40px;
	line-height: 40px;
	text-indent: 10px;
}
.pushRizhi>ul>li{
	width:120px;
	height:40px;
	text-align: center;
	line-height: 40px;
	float: left;
	border:1px solid #eee;
	border-left: none;
	background:#C9D2E3;
	color:#07162d;
	font-size: 14px;
	letter-spacing: 3px;
	border:none;
	cursor: pointer;
}
.pushRizhi>ul>li:nth-child(2){
	background:rgba(16,50,101,0.2);
	color:white;
	border-left:2px solid #EF1627;
}
.pushRizhi>ul>li:hover{
	background:rgba(16,50,101,0.2);
	color:white;
	border-left:2px solid #EF1627;
}

.pushRizhi>div{
	width:550px;
	height:490px;
	border:1px solid white;
	overflow-y: scroll;
	position: absolute;
	top:50%;
	right:270px;
	margin-top:-245px;
}
.pushRizhi>.pushlist{
	position: absolute;
	width:250px;
	height:490px;
	right:20px;
	top:50%;
	margin-top:-245px;	
	overflow: hidden;
}
.pushRizhi>.pushlist>h2{
	margin:10px;
	margin-left:0;
	text-indent: 10px;
}
.pushRizhi>.pushlist>ul{
	width:100%;
	height:auto;
}
.pushRizhi>.pushlist>ul>li{
	width:100%;
	height:35px;
	line-height: 35px;
	text-indent: 10px;
	cursor: pointer;
}
.pushRizhi>.pushlist>ul>li:nth-child(odd){
	background:rgba(16,50,101,0.2);
}
.pushRizhi>.pushlist>ul>li:hover{
	background:rgba(16,50,101,0.4);
}
.pushRizhi>div>li{
	list-style: none;
	width:60%;
	height:150px;
	margin-bottom:10px;
}
.pushRizhi>div>li>h3{
	width:100%;
	height:30px;
	line-height: 30px;
	margin-left:3px;
}
.pushRizhi>div>li>textarea{
	display: block;
	width:100%;
	height: 120px;
	margin-left:10px;
	overflow-y: scroll;
	overflow-x: hidden;
	resize: none;
	border-radius: 8px 0 0 8px;
	outline: none;
	color:#000;
}
.pushRizhi>div>li>input,button{
	margin-left:10px;
}
.pushRizhi>div>li>button{
	margin-top:30px;
	background:#50617c;
	border:none
}
