<div class="faqi_Warp" ng-controller="chuchai">
	<div class="qj_wrap">
		<h1><i class="glyphicon glyphicon-plane"></i><span>出差</span></h1>
		<div>
			<li>
				<label>出差地点</label>
				<select class="form-control qj_leixing">
					<option value="事假">事假</option>
					<option value="婚假">婚假</option>
					<option value="产假">产假</option>
					<option value="产假">其他</option>
				</select>
			</li>
			<li>
				<label>开始时间</label>
				<input class="form-control qj_leixing" type="time">
			</li>
			<li>
				<label>结束时间</label>
				<input class="form-control qj_leixing" type="time">
			</li>
			<li>
				<label>出差事由</label>
				<textarea class="form-control qj_leixing" rows="3"></textarea>
			</li>
			<li>
				<label>审批人员</label>
				<input type="text" class="form-control qj_leixing" placeholder="请选择">
			</li>
			<li>
				<button class="btn btn-info qj_tj">提交</button>
			</li>
		</div>
	</div>
	<div class="qj_spr">
		<div class="qj_shuru">
			<input type="text" class="form-control" placeholder="Search">
			<ul>
				<li>陈颖志</li>
				<li>李健</li>
				<li>王海泽</li>
				<li>杜冰冰</li>
				<li>郭佳</li>
				<li>祁保宏</li>
			</ul>
		</div>
	</div>
</div>
