<div class="faqi_Warp" ng-controller="chuchai">
	<div class="qj_wrap">
		<h1><i class="glyphicon glyphicon-plane"></i><span>出差</span></h1>
		<div>
			<li>
				<label>出差地点</label>
				<select class="form-control qj_leixing" ng-model="leixing">
					<option value="北京">北京</option>
					<option value="上海">上海</option>
					<option value="广州">广州</option>
					<option value="其他">其他</option>
				</select>
			</li>
			<li>
				<label>开始时间</label>
				<input class="kaishi form-control workinput wicon mr25 qj_leixing" type="text" id="inpstart" readonly>
			</li>
			<li>
				<label>结束时间</label>
				<input class="jieshu form-control workinput wicon mr25 qj_leixing" type="text" id="inpend" readonly>
			</li>
			<li>
				<label>出差事由</label>
				<textarea class="form-control qj_leixing" rows="3" ng-model="shiyou"></textarea>
			</li>
			<li>
				<label>审批人员</label>
				<input type="text" disabled class="form-control qj_leixing shenpiren" placeholder="请选择" ng-model="shenpiren">
			</li>
			<li>
				<button class="btn btn-info qj_tj" ng-click="tijiao()">提交</button>
			</li>
		</div>
	</div>
	<div class="qj_spr">
		<div class="qj_shuru">
			<input type="text" class="form-control sousuo" placeholder="Search" ng-model="find">
			<ul ng-repeat="a in nicheng | filter:find" class="nichen">
				<li ng-click="spr($index)">{{a.nicheng}}</li>
			</ul>
		</div>
	</div>
</div>
