<div class="pushShenpi f_select_wrap" ng-controller="faqishenpi">
	<div class="f_select">
		<h1>类型选择</h1>
		<ul class="f_xuanxiang">
			<li class="fq_Active" ui-sref="main.work.shenpi.faqi.qingjia"><i class="glyphicon glyphicon-file"></i><span>请假</span></li>
			<li ui-sref="main.work.shenpi.faqi.chuchai"><i class="glyphicon glyphicon-plane"></i><span>出差</span></li>
			<li ui-sref="main.work.shenpi.faqi.baoxiao"><i class="glyphicon glyphicon-bed"></i><span>报销</span></li>
			<li ui-sref="main.work.shenpi.faqi.lizhi"><i class="glyphicon glyphicon-alert"></i><span>离职申请</span></li>
		</ul>
	</div>
	<div class="faqi_warp_box">
		<ui-view></ui-view>
	</div>
	
</div>