<div class="alert alert-success">成功！很好地完成了提交。</div>
<div class="pushRizhi" ng-controller="farizhi">
	<ul>
		<h2>请选择类型：</h2>
		<li ng-click="riShow()">日报</li>
		<li ng-click="weekShow()">周报</li>
		<li ng-click="monthShow()">月报</li>
	</ul>
	<div class="pushlist">
		<input type="text" ng-model="searchPeople" class="form-control" ng-focus="search" placeholder="serach..">
		<ul class="nichen">
			<li ng-click="linePeople($index)" ng-repeat="people in addPeoples | filter:searchPeople">{{people.nicheng}}</li>
		</ul>
	</div>
	<div class="day push" ng-show="dayPush">
		<li>
			<h3>今日完成工作</h3>
			<textarea placeholder="*该项为必填项" ng-model="day.dayFinish"></textarea>
		</li>
		<li>
			<h3>未完成工作</h3>
			<textarea placeholder="*该项为必填项" ng-model="day.dayUnFinish"></textarea>
		</li>
		<li>
			<h3>备注</h3>
			<textarea ng-model="day.dayBeizhu"></textarea>
		</li>
		<li>
			<h3>发送给管理者</h3>
			<input type="text" placeholder="请在右侧选择您需要添加的联系人.." ng-click="pushInput()" style="background:transparent;outline: none;border:none;color:white" disabled="disabled" class="form-control userShow shenpiren" ng-model="day.dayFageishui">
			<button type="button" class="btn btn-primary btn-lg " ng-click="daysubmit(0)">确认提交</button>
		</li>

	</div>
	<div class="week push" ng-show="weekPush">
		<li>
			<h3>本周完成工作</h3>
			<textarea placeholder="*该项为必填项" ng-model="week.weekFinish"></textarea>
		</li>
		<li>
			<h3>下周计划工作</h3>
			<textarea placeholder="*该项为必填项" ng-model="week.weekUnFinish"></textarea>
		</li>
		<li>
			<h3>备注</h3>
			<textarea ng-model="week.weekBeizhu"></textarea>
		</li>
		<li>
			<h3>发送给管理者</h3>
			<input type="text" placeholder="请在右侧选择您需要添加的联系人.." ng-click="pushInput()" style="background:transparent;outline: none;border:none;color:white" disabled="disabled" class="form-control userShow shenpiren" ng-model="week.weekFageishui">
			<button type="button" class="btn btn-primary btn-lg " ng-click="weeksubmit()">确认提交</button>

		</li>
	</div>
	<div class="month push" ng-show="monthPush">
		<li>
			<h3>本月工作总结</h3>
			<textarea placeholder="*该项为必填项" ng-model="month.monthFinish"></textarea>
		</li>
		<li>
			<h3>下月工作计划</h3>
			<textarea placeholder="*该项为必填项" ng-model="month.monthUnFinish"></textarea>
		</li>
		<li>
			<h3>备注</h3>
			<textarea ng-model="month.monthBeizhu"></textarea>
		</li>
		<li>
			<h3>发送给管理者</h3>
			<input type="text" placeholder="请在右侧选择您需要添加的联系人.." ng-click="pushInput()" style="background:transparent;outline: none;border:none;color:white" disabled="disabled" class="form-control userShow shenpiren" ng-model="month.monthFageishui">
			<button type="button" class="btn btn-primary btn-lg " ng-click="monthsubmit()">确认提交</button>
		</li>
	</div>
</div>