<div class="newsCon" ng-controller="gonggao">
	<!--加载中。。。-->
		<div class="loading" ng-show="loading">
			<img src="../images/5-121204193Q9-50.gif"/>
		</div>
			<!--模态框删除数据 陈颖志修改--> 
		
			<div class="modal fade" id="myModalgo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">是否删除</h4>
						</div>
						<h6>
							您确定要删除数据么？
						
						</h6>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="dell()">确定</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>

	 <form class="bs-example bs-example-form" role="form">
        <div class="row">
            <div class="col-lg-10">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请根据关键字进行简索" ng-model="Filter">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="filterXX()">Go!</button>                       
                        <button class="btn btn-default" id="prevpage" type="button" ng-click="prev()">上一页</button>                       
                        <button class="btn btn-default" id="nextpage" type="button" ng-click="next()">下一页</button>                       
                    </span>
                </div>
            </div>
        </div>
    </form>
    
    
  <div class="FINDEX">
           <li>
            <span>序号</span>
            <span>标题</span>
            <span>内容</span>           
            <span>发布人</span>
            <span>发布时间</span>
            <span>操作</span>
        </li>
  </div>       
  
<ul>
       <li ng-repeat="da in Data | filter:{biaoti:FilterXX} | orderBy:'-fabushijian' | myfilter:currentpage*listpage | limitTo:listpage ">		
        			<span>{{$index+1}}</span>       	
		            <span>{{da.biaoti}}</span>
		            <span  data-toggle="modal" data-target="#myModaldd" ng-click="ID(da.id)" class="span" title="点我查看详细">{{da.neirong | cut:true:2:' ...' }}</span>           
		            <span>{{da.faburen}}</span>           
		            <span>{{da.fabushijian| date:'yyyy-MM-dd HH:mm:ss'}}</span>	
		            <span data-toggle="modal" data-target="#myModalgo" ng-click="rem(da.id)">删除</span>	          
        </li> 
 </ul>
 
 <div class="modal fade" id="myModaldd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		    	
		        <div class="modal-content">
		            <div class="modal-header">
		          	      详情：
		            </div>
		            <div class="modal-body">
		            	标题:&nbsp{{BT}}
		            </div>
		            
		            
		            <div class="modal-body">
		            	具体内容:&nbsp{{NR}}
		            </div>
		            
		            <div class="modal-body">
		            	发布人:&nbsp{{FBR}}
		            </div>
		            
		            
		            <div class="modal-body">
		            	发布时间:&nbsp{{FBSJ | date:'yyyy-MM-dd HH:mm:ss'}}
		            </div>	
		            
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>     
</div>