<div class="faqi_Warp" ng-controller="qingjia">
	<div class="qj_wrap">
		<h1><i class="glyphicon glyphicon-alert"></i><span>离职申请</span></h1>
		<div>
			<li>
				<label>入职日期</label>
				<input class="form-control qj_leixing" type="time">
			</li>
			<li>
				<label>离职日期</label>
				<input class="form-control qj_leixing" type="time">
			</li>
			<li>
				<label>离职原因</label>
				<textarea class="form-control qj_leixing" rows="3"></textarea>
			</li>
			<li>
				<label>审批人员</label>
				<input type="text" class="form-control qj_leixing" placeholder="请选择">
			</li>
			<li>
				<button class="btn btn-info qj_tj">提交</button>
			</li>
		</div>
	</div>
	<div class="qj_spr">
		<div class="qj_shuru">
			<input type="text" class="form-control" placeholder="Search">
			<ul>
				<li>陈颖志</li>
				<li>李健</li>
				<li>王海泽</li>
				<li>杜冰冰</li>
				<li>郭佳</li>
				<li>祁保宏</li>
			</ul>
		</div>
	</div>
</div>
