<div ng-controller="login" class="l_warp_box">
<div class="l_warp">
	<div class="l_wrap_title">
		<p>Welcome!</p>
		<p>E管理系统</p>
	</div>
	<div class="l_login_warp">
		<p><label>账号</label><input type="text" ng-change="l_ipone()" ng-model="username"><i ng-show="isShow">{{iponeTitle}}</i></p>
		<p><label>密码</label><input type="password" ng-change="l_psd()" ng-model="passwords"><i ng-show="isHide">{{psdTitle}}</i></p>
		<div>
			<label><input type="checkbox" id="checkbox-1-1" class="regular-checkbox" ng-checked="check" ng-model="check"><label for="checkbox-1-1"></label><span class="l_label">记住账号</span></label>
		</div>
		<button type="button" ng-click="login()">登 录</button>
	</div>
</div>
<p class="loginTitle" ng-show="l_ti">{{loginTitle}}</p>
</div>