
	<div class="maincontent" ng-controller="main">
		<!-- 最新通知-->
		<div class="modal fade" id="myModalgg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		           	   <h1>最新通知</h1>
		            </div>
		            <div class="modal-body">
		            	<ul class="gongTitle">
		            		<li><i>标题：</i><span>{{xiaoxiTitle.biaoti}}</span></li>
		            		<li><i>内容：</i><span>{{xiaoxiTitle.neirong}}</span></li>
		            		<li><i>发布人：</i><span>{{xiaoxiTitle.faburen}}</span></li>
		            		<li><i>发布时间：</i><span>{{xiaoxiTitle.fabushijian |date:"yyyy-MM-dd HH:mm:ss"}}</span></li>
		            	</ul>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		<!-- 模态框（Modal） -->
		<!-- 修改昵称 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">修改昵称</h4>
		            </div>
		            <div class="modal-body">
		            	<input type="text" placeholder="请输入新的昵称" class="form-control xg_name" ng-model="xg_micheng">
		            	<p ng-show="xg_nc" class="xg_nc">{{nc_title}}</p>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		                <button type="button" class="btn btn-primary" ng-click="nc_tj()">提交更改</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		<!-- 模态框（Modal）修改密码 -->
		<div class="modal fade" id="myModalOne" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
		            </div>
		            <div class="modal-body">
		            	<p class="xg_wrap"><span>请输入新的密码：</span><input type="password" class="form-control m_xgmm" placeholder="密码由字母和数字组成" ng-model="x_password" ng-blur="m_xg()"><i ng-show="xg_t">{{xg_title}}</i></p>
		            	<p class="xg_wrap"><span>请再次输入密码：</span><input type="password" class="form-control m_xgmm" placeholder="确保两次输入完全一致" ng-model="xg_password" ng-blur="m_xgs()"><i ng-show="xg_ts">{{xg_titles}}</i></p>
		            </div>
		            <p class="mm_tsk" ng-show="mm_tsk">修改成功</p>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		                <button type="button" class="btn btn-primary" ng-click="xg_sub()" id="mm_tj">提交更改</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		<!-- 模态框（Modal） -->
		<!--退出登录-->
			<div class="modal fade" id="myModalTwo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">退出登录</h4>
		            </div>
		            <div class="modal-body">
		            	请确认您是否要退出系统
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		                <button type="button" class="btn btn-primary" ng-click="logint()">退出登录</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>	
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModalThree" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">		    	
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">
		                	标题：<br/>
		                	<input type="text" ng-model="biaoti" ng-blur="Biaoti()" style="margin-top:5px"/>
		                		<i style="color:red; margin-left:10px" ng-show="uBiaoti">请填写标题</i>
		                </h4>
		            </div>
		            
		            <div class="modal-body" style="height:200px;">
		            	内容：
		            	<textarea style="width:100%;height:100%;overflow-y: scroll;resize: none;  margin-top:10px" ng-model="neirong" ng-blur="Neirong()"></textarea>	            	
		            </div>
		            
		             <div class="modal-body" style="height:30px; border: 0px;">
		            	<i style="color:red; margin-top:10px" ng-show="uNeirong">请填写内容</i>
		            </div>
		            
		            <div class="modal-footer" style="margin-top:10px">
		                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		                <button type="button" class="btn btn-primary" ng-click="confirm()"  style="background:#07162d">确认发布</button>
		            </div>
		            
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>


		<div class="mainNav">
				<div class="mainUserInfo" ng-style="m_infoStyle">
					<img src="{{imgSrc}}" alt=""/>
					<h3>昵称：{{userInfo.nicheng}}</h3>
					<h4>职位:{{userInfo.isadmin | isadmin}}</h4>
					<h4>tel:{{userInfo.tel}}</h4>
					<h4>住址:{{userInfo.address}}</h4>
				</div>
				<div class="mainUserImg" ng-mouseenter="m_infoShow()"  ng-mouseout="m_infoHide()">
					<i class="glyphicon glyphicon-plus m_photoTitle"></i>
					<img class="m_imga" src="{{imgSrc}}" alt=""/>
					<input class="m_file" type="file" id="demo_input">
					<textarea style="display: none;" id="result" rows=30 cols=300></textarea>
				</div>
				<div class="mainUserExit" data-toggle="modal" data-target="#myModalTwo">
					<i class=".glyphicon .glyphicon-log-out"></i>退出
				</div>
				<ul>	
					<li ui-sref=".news.gonggao" ng-click="news()"><span>消息通知</span></li>
					<li ui-sref=".user"><span>联系人</span></li>
					<li ui-sref=".work.rizhi.farizhi"><span>日常工作</span></li>
					<li ui-sref=".add" ng-show="yinc"><span>添加用户</span></li>
					<li data-toggle="modal" data-target="#myModalThree" ng-show="yinc"><span>发布公告</span></li>
					<li ng-click="more()">
						<span>系统设置</span>
						<div>
							<p data-toggle="modal" data-target="#myModalOne">修改密码</p>
							<p data-toggle="modal" data-target="#myModal">修改昵称</p>
							<p  data-toggle="modal" data-target="#myModalTwo">退出登录</p>
						</div>
					</li>
					
					
					<!--
                    	作者：1933564949@qq.com
                    	时间：2017-03-25
                    	描述： ng-show="isshow"
                    -->
				</ul>
			</div>
			<div class="mainCon">
				<ui-view></ui-view>
			</div>
	</div>