<div class="faqi_Warp" ng-controller="qingjia">
	<div class="qj_wrap">
		<h1><i class="glyphicon glyphicon-file"></i><span>请假</span></h1>
		<div>
			<li>
				<label>请假类型</label>
				<select class="form-control qj_leixing" ng-model="leixing">
					<option value="事假">事假</option>
					<option value="婚假">婚假</option>
					<option value="产假">产假</option>
					<option value="产假">其他</option>
				</select>
			</li>
			<li>
				<label>开始时间</label>
				<input ng-model="kaishi" type="text" class="kaishi form-control workinput wicon mr25 qj_leixing" id="inpstart" readonly>
			</li>
			<li>
				<label>结束时间</label>
				<input ng-model="jieshu" type="text" class="jieshu form-control workinput wicon mr25 qj_leixing" id="inpend" readonly>
			</li>
			<li>
				<label>请假事由</label>
				<textarea class="form-control qj_leixing" rows="3"  ng-model="shiyou"></textarea>
			</li>
			<li>
				<label>审批人员</label>
				<input type="text" class="form-control qj_leixing shenpiren" placeholder="请选择" ng-model="shenpiren" disabled>
			</li>
			<li>
				<button class="btn btn-info qj_tj" ng-click="tijiao()">提交</button>
			</li>
		</div>
	</div>
	<div class="qj_spr">
		<div class="qj_shuru">
			<input type="text" class="form-control sousuo" placeholder="Search" ng-model="find">
			<ul ng-repeat="a in nicheng | filter:find" class="nichen">
				<li ng-click="spr($index)">{{a.nicheng}}</li>
			</ul>
		</div>
	</div>
</div>