<div class="shenpiNews" ng-controller="shenpinews">
	<!--加载中。。。-->
		<div class="loading" ng-show="loading">
			<img src="images/5-121204193Q9-50.gif"/>
		</div>
	<form class="bs-example bs-example-form" role="form">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请根据审批发起人进行搜索" ng-model="find">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                        <button class="btn btn-default" id="prevpage" ng-click="prev()">上一页</button>
						<button class="btn btn-default" id="nextpage" ng-click="next()">下一页</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </form>
    <ul class="row sp_title">
    	<li>
    		<span class="col-md-1">序号</span>
			<span class="col-md-2">发起者</span>
			<span class="col-md-2">审批类型</span>
			<span class="col-md-3">发送时间</span>
			<span class="col-md-2">审批人</span>
			<span class="col-md-2">审批状态</span>
    	</li>
	</ul>
		<ul class="row sp_zhanshi">
			<li ng-repeat="a in a | filter:find | orderBy:'-time'">
	    		<span class="col-md-1">{{$index+1}}</span>
				<span class="col-md-2">{{a.faqiren}}</span>
				<span class="col-md-2">{{a.zleixing}}</span>
				<span class="col-md-3">{{a.time |date:'yyyy-MM-dd HH:mm:ss'}}</span>
				<span class="col-md-2">{{a.shenpiren}}</span>
				<span class="col-md-2">{{a.zhuangtai | resetCategory}}</span>
	    	</li>
	    	
			 <div ng-show="HIDE">
	        		抱歉,暂无数据 !      	
	         </div>	    	
	    	
		</ul>
	
</div>
