<style type="text/css">
	.rizhiConInfo>ul>li:nth-child(2) {
		background: #07162d;
		border-left: 3px solid #ef1627;
		box-sizing: border-box;
		color: #dce2ed;
	}
	.rizhiConInfo>ul>li:nth-child(3) {
		background: #dce2ed;
		border-left:none;
		box-sizing: border-box;
		color: #07162d;
	}
	.rizhiConInfo>ul>li:nth-child(1) {
		background: #dce2ed;
		border-left:none;
		box-sizing: border-box;
		color: #07162d;
	}
</style>
<div class="getRizhi" ng-controller="shourizhi">
<input type="text" class="form-control" placeholder="按照联系人昵称进行搜索。。" style="width:80%;float:left">	

   <div class="btn-group" style="width:10%;float:left">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">按时间排序
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" style="margin:0;padding:0;">
			<li><a href="javascript:;">按时间正序排列</a></li>
			<li><a href="javascript:;">按时间倒叙排列</a></li>
		</ul>
	</div>
	<div class="getRizhiInfo">
		<div ng-repeat="getInfo in getInfos.slice().reverse()" >
			<i class="glyphicon glyphicon-pushpin"></i>
		</div>		
	</div>
	
</div>