<div class="getRizhi" ng-controller="shourizhi">
	<!--加载中。。。-->
		<div class="loading" ng-show="loading">
			<img src="../images/5-121204193Q9-50.gif"/>
		</div>
<input type="text" ng-model="searchRizhi" class="form-control" placeholder="按照联系人昵称进行搜索。。" style="width:80%;float:left">	

   <div class="btn-group" style="width:10%;float:left">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">按时间排序
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" style="margin:0;padding:0;">
			<li ng-click="timeOrderUp()"><a href="javascript:;">按时间正序排列</a></li>
			<li ng-click="timeOrderDown()"><a href="javascript:;">按时间倒叙排列</a></li>
		</ul>
	</div>
	<div class="getRizhiInfo">
		<div ng-repeat="getInfo in Getss | filter:{nicheng:searchRizhi} | orderBy:time">
			<p>来自于：{{getInfo.nicheng}}</p><span>日志类型：{{classifys[$index]}}</span>
			<p>{{Infosa[$index]}}：<span>{{getInfo.wancheng}}</span></p>
			<p>{{Infosb[$index]}}：<span>{{getInfo.weiwancheng}}</span></p>
			<p>{{Infosc[$index]}}：<span>{{getInfo.beizhu}}</span></p>
			<span>{{getInfo.time | date:"yyyy-MM-dd HH:mm:ss"}}</span>
			<i class="glyphicon glyphicon-pushpin"></i>
		</div>		
	</div>
	
</div>