<div class="wopushRizhi" ng-controller="worizhi">
	<!--加载中。。。-->
		<div class="loading" ng-show="loading">
			<img src="../images/5-121204193Q9-50.gif"/>
		</div>
	<input type="text" ng-model="searchRizhi" class="form-control" placeholder="按照联系人昵称进行搜索。。" style="width:80%;float:left">

	<div class="btn-group" style="width:10%;float:left">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">按时间排序
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" style="margin:0;padding:0;">
			<li ng-click="timeOrderUp()">
				<a href="javascript:;">按时间正序排列</a>
			</li>
			<li ng-click="timeOrderDown()">
				<a href="javascript:;">按时间倒序排列</a>
			</li>
		</ul>
	</div>
	<div class="getRizhiInfo">
		<div ng-repeat="postInfo in postInfos.slice().reverse() | filter:{fageishui:searchRizhi} | orderBy:time">
			<p>发送给：{{postInfo.fageishui}}</p><span>日志类型：{{classifys[$index]}}</span>
			<p>{{Infosa[$index]}}：<span>{{postInfo.wancheng}}</span></p>
			<p>{{Infosb[$index]}}：<span>{{postInfo.weiwancheng}}</span></p>
			<p>{{Infosc[$index]}}：<span>{{postInfo.beizhu}}</span></p>
			<span>{{postInfo.time | date:"yyyy-MM-dd HH:mm:ss"}}</span>
			<i class="glyphicon glyphicon-pushpin"></i>
		</div>
	</div>
</div>